<html>
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="templates/style.css">
  <title>Bots</title>
</head>
<body>
<table width="100%">
  <tr><td class="top"><?=$setting['title']?></td></tr>
</table>
<table width="100%">
  <tr>
    <td class="menu">
      <a href="report.php">Total</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=browser">Browsers</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=os">OS</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=request">Requests</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=refer">Referers</a>&nbsp;&nbsp;&nbsp;
      Bots&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=ip">IPs</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=search">Search words</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=click">Clicks</a>&nbsp;&nbsp;&nbsp;
      <a href="report.php?action=daily">Daily</a>&nbsp;&nbsp;&nbsp;
      <a href="setting.php">Settings</a>&nbsp;&nbsp;&nbsp;
      <a href="logout.php">Logout</a>
    </td>
  </tr>
</table>
<table width="100%">
  <tr><td class="caption"><h1>Bots</h1></td></tr>
  <tr>
    <td valign="top" class="body">
    
    <? if ($content['robots']['total'] > 0): ?>      
    <table class="info" width="50%">
      <tr><td width="50%"></td><td width="50%"><b>%</b></td></tr>
      <? if ($content['robots']['yandex'] != '0'): ?><tr><td align="right">Яndex</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['yandex'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['yandex']?></td></tr><? endif; ?>
      <? if ($content['robots']['google'] != '0'): ?><tr><td align="right">Google</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['google'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['google']?></td></tr><? endif; ?>
      <? if ($content['robots']['rambler'] != '0'): ?><tr><td align="right">Rambler</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['rambler'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['rambler']?></td></tr><? endif; ?>
      <? if ($content['robots']['aport'] != '0'): ?><tr><td align="right">Aport</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['aport'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['aport']?></td></tr><? endif; ?>
      <? if ($content['robots']['yahoo'] != '0'): ?><tr><td align="right">Yahoo</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['yahoo'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['yahoo']?></td></tr><? endif; ?>
      <? if ($content['robots']['msn'] != '0'): ?><tr><td align="right">MSN</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['msn'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['msn']?></td></tr><? endif; ?>
      <? if ($content['robots']['other'] != '0'): ?><tr><td align="right">Other</td><td><img src="images/row.gif" height="10px" width="<?=($content['robots']['other'] * 2 + 1)?>px">&nbsp;&nbsp;<?=$content['robots']['other']?></td></tr><? endif; ?>
    </table>
    <? endif; ?>
      
    </td>
  </tr>
</table>
<table width="100%">
  <tr><td class="footer"></td></tr>
</table> 
</body>
</html>
