<html>
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="templates/style.css">
  <title>Logon</title>
  <script type="text/javascript" src="setfocus.js"></script>
</head>
<body onLoad=setFocus()>  
  <table height="80%" width="100%" align="center">
  <tr>
    <td align="center">
    <form action="logon.php" method="post" enctype="multipart/form-data">
      <table width="20%" align="center" class="logon">
      <tr><td width="30%">Password:</td><td width="70%"><input type="password" name="password" style="width: 100%;" value=""></td></tr>
      <tr><td colspan="2"><label for="remember"><input id="remember" name="remember" type="checkbox"> Remember me</label></td></tr>
      <tr><td align="center" colspan="2"><input type="submit" name="logon" value="Enter"></td></tr>
      </table>
    </form>
    </td>
  </tr>
  </table>
    
</body>
</html>
