body
{
  background: #ffffff; color: #000000; font-family: arial, sans-serif; font-size: 80%; margin: 0; padding: 0;
}
    
table
{
	border-collapse: collapse; margin: 0; padding: 0;
}

td
{
	margin: 0; padding: 0; font-size: 80%;
}

td.top
{
  background: #000000; color: #ffffff; font-size: 120%; height: 60px; padding-left: 20px;
}

td.menu
{
  background: #404040; color: #bebebe; height: 30px; padding-left: 20px;
}

table.logon td
{
  padding: 10px 5px 10px 5px; font-weight: bold; font-size: 100%;
}

table.info td
{
  padding: 4px 10px 4px 10px;
}

td.caption
{
  height: 100px; padding-left: 20px;
}
 
td.body
{
  padding-left: 100px;
}

td.footer
{
  padding: 20px 20px 20px 20px;
}
 
a
{
  color: #0055cc; text-decoration: none;  
}

a:active
{
  color: #ebebcf; text-decoration: none;  
}

a:hover
{
  color: #cc0000; text-decoration: underline;
}

td.menu a, td.menu a:link, td.menu a:active, td.menu a:visited
{
  color: #ffffff; text-decoration: none;  
}

td.menu a:hover
{
  color: #ebebcf; text-decoration: underline;
}

h1
{
  font-size: 160%;
}

input, button 
{
  font-weight: bold;
}

input.text
{
  width: 100%;
}

small 
{
  font-size: 85%; color: #999999;
}
